@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
  height: 100vh;
  /* font-size: 13px; */
}

.root {
  height: 100%;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;

  /* background-size: 100% 100%; */
  /* background-position: bottom; */
}

.bga {
  position: absolute;
  background: url(./img/bgnew.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  width: inherit;
  height: 100vh;
  z-index: -1;
  overflow: hidden;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

a {
  text-decoration: none;
  color: inherit;
}

/* New */

.select-menu,
#date {
  padding: 0.75rem;
  outline: none;
  border-radius: 0.5rem;
  background: #333;
  color: whitesmoke;
  cursor: pointer;
  outline: none;
  border: none;
  box-shadow: 3px 9px 45px -5px hsla(0, 3%, 36%, 0.856) inset;
  -webkit-box-shadow: 3px 9px 45px -5px hsla(0, 3%, 41%, 0.856) inset;
  -moz-box-shadow: 3px 9px 45px -5px hsla(0, 3%, 52%, 0.856) inset;
  /* text-align: center; */
}
/* 
.option-menu {
  display: block;
  padding: 1rem;
} */

.input-container {
  margin-top: 1rem;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 30rem;
}

.input-container > * {
  margin-top: 0.5rem;
  font-size: 1.1rem;
  /* max-width: 15rem; */
  width: 20rem;
  transition: background 0.5s ease;
}

.input-container label {
  font-size: 1.4rem;
  font-weight: 800;
  /* text-align: left; */
}

.input-container #pincode {
  padding: 0.75rem;
  outline: none;
  border-radius: 0.5rem;
  background: #333;
  color: whitesmoke;
  outline: none;
  border: none;
  box-shadow: 3px 9px 45px -5px hsla(0, 3%, 36%, 0.856) inset;
  -webkit-box-shadow: 3px 9px 45px -5px hsla(0, 3%, 41%, 0.856) inset;
  -moz-box-shadow: 3px 9px 45px -5px hsla(0, 3%, 52%, 0.856) inset;
}

.input-container > h2 {
  font-size: 1.4rem;
  color: rgb(103, 139, 153);
  font-family: Arial, Helvetica, sans-serif;
}

select:focus,
#date:focus,
#pincode:focus {
  background: rgb(32, 6, 6);
}

input::placeholder {
  text-align: center;
}

input {
  text-align: center;
}

.btn {
  display: block;
  cursor: pointer;
  padding: 1rem;
  width: 10rem;
  transition: background 0.6s ease;
}

.btn-find {
  width: max-content;
  margin-top: 1.5rem;
  background: rgba(168, 165, 167, 0.75);
  color: rgb(0, 0, 0);
  border-radius: 0.5rem;
  outline: none;
  border: none;
}

.btn-find:hover {
  background: rgba(129, 127, 129, 0.75);
  color: rgb(17, 13, 13);
}
/* Final Changes */

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-direction: row; */
  height: 5rem;
  width: 100vw;
  padding: 1.5rem;
  background: #333;
  color: whitesmoke;
  margin: auto;
  width: 100%;
  box-shadow: -2px 13px 16px 4px rgba(62, 33, 33, 0.75);
  -webkit-box-shadow: -2px 13px 16px 4px rgba(62, 33, 33, 0.75);
  -moz-box-shadow: -2px 13px 16px 4px rgba(62, 33, 33, 0.75);
}

.navigation .btn-find {
  margin: 0;
  color: whitesmoke;
}

#logo {
  font-size: 2rem;
  letter-spacing: 1.5px;
}

.tagline {
  font-size: 1.3rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 100;
}

.navigation .tagline {
  margin-left: 2rem;
}

.container {
  max-width: 50rem;
  /* max-width: none; */
  width: 48rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  /* width: 40rem; */
}

/* slots section */

.slot {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 1.1rem;
}

.slot > * {
  width: 20rem;
  padding: 1.5rem;
  border: 1px solid #333;
  /* height: 19rem; */
  min-height: 25rem;
  margin: 1rem;
  text-align: left;
  line-height: 1.6;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  background: #333;
  color: whitesmoke;
  /* margin: auto; */
  /* width: 100%; */
  box-shadow: -3px -7px 23px 2px rgba(133, 131, 132, 0.75);
  -webkit-box-shadow: -3px -7px 23px 2px rgba(136, 132, 134, 0.75);
  -moz-box-shadow: -3px -7px 23px 2px rgba(136, 136, 136, 0.75);
  transition: box-shadow 0.3s ease;
}

.slot > *:hover {
  box-shadow: -3px -7px 23px 2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -3px -7px 23px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -3px -7px 23px 2px rgba(0, 0, 0, 0.75);
  /* border: 1px solid #fff; */
}

/* Fontawesome */

.search-icon::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  content: "\f689";
  font-size: 1.2rem;
}

.syringe-icon::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  content: "\f48e";
  font-size: 1.5rem;
}

.address-icon::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  content: "\f5a0";
  font-size: 0.75rem;
}

.normal-icon::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  content: "\f0da";
  font-size: 1rem;
}

.pin-icon::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  content: "\f276";
  font-size: 1rem;
}

.syringe--icon::before {
  font-size: 0.7rem;
}

.fee-icon::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  content: "\f156";
  font-size: 0.75rem;
}

.avail-icon::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  font-size: 0.75rem;
  content: "\f128";
}

.slot span {
  margin-right: 0.5rem;
  color: rgb(89, 190, 156);
}

/* Footer */
#footer {
  /* position: static;
  bottom: 0; */
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 3.5rem;
  padding: 3rem;
  background: #333;
  color: whitesmoke;
  line-height: 1.3;
}

#footer a {
  color: rgb(151, 103, 126);
  font-size: 1.2rem;
  margin-left: 0.4rem;
}

#footer #footer-info {
  font-size: 1.3rem;
}

#my-info > span {
  color: rgb(143, 32, 37);
}

/* last edits */
.no-avail {
  color: rgb(133, 18, 18);
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 1rem;
}

#centres {
  width: 100%;
  background: #333;
  color: whitesmoke;
  padding: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 2rem;
}

/* Media */
@media (max-width: 500px) {
  /* body{
     /* font-size: 14px !important; 
   } */
  .container {
    max-width: none;
    width: 100%;
    justify-content: space-between;
  }
  .navigation .btn-find {
    width: 8rem;
  }

  #logo {
    font-size: 1.3rem;
  }
  .bga {
    background: url("./img/bgmobile.svg");
    height: 80vh;
    width: 90vw;
    /* background-position: center; */

    background-repeat: no-repeat;
    background-size: cover;
  }

  .tagline {
    font-size: 1rem;
  }
  .no-avail {
    color: rgb(184, 157, 150);
    /* color:  rgba(80, 19, 22, 0.616); */
    font-family: Arial, Helvetica, sans-serif;
    /* margin-bottom: 1rem; */
    margin-top: 1.5rem;
  }
  .navigation .tagline {
    margin-left: 1rem;
  }

  .input-container > * {
    /* height: 55em; */
    font-size: 0.85rem;
  }

  .input-container > label {
    color: rgba(42, 82, 42, 0.89);
    font-size: 1rem;
  }

  #footer #footer-info {
    font-size: 1rem;
  }
}
